#Files to ignore
#
# Ignore interpro.h2.db - file is too big to be commited to GitHub!
core/jms-implementation/support-mini-x86-32/work/template/interpro.h2.db
#Igonre .class file
*.class
# Ignore target at the top level
/target/
# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/
/*/*/*/target/

# Others
**/.DS_Store
