<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <import resource="daos.xml"/>
    <import resource="oxm.xml"/>

    <!--Onion runner-->
    <bean id="gene3dOnionRunner" class="uk.ac.ebi.interpro.scan.cli.Gene3dOnionRunner">
        <property name="analysisWriter">
            <bean class="uk.ac.ebi.interpro.scan.cli.Gene3dOnionAnalysisResourceWriter"/>
        </property>
        <property name="resultsWriter">
            <bean class="uk.ac.ebi.interpro.scan.cli.Gene3dOnionFilteredResourceWriter">
                <property name="support">
                    <bean class="uk.ac.ebi.interpro.scan.cli.Gene3dSupport">
                        <property name="model2Sf">
                            <bean class="org.springframework.core.io.FileSystemResource">
                                <constructor-arg value="model2sf_map.csv"/>
                            </bean>
                        </property>
                        <!--<property name="reader">-->
                            <!--<bean class="uk.ac.ebi.interpro.scan.io.gene3d.CathDomainListResourceReader"/>-->
                        <!--</property>-->
                        <!--<property name="cathDomainList">-->
                            <!--<bean class="org.springframework.core.io.FileSystemResource">-->
                                <!--<constructor-arg value="CathDomainList"/>-->
                            <!--</bean>-->
                        <!--</property>-->
                    </bean>
                </property>
            </bean>
        </property>
        <property name="processor" ref="processor"/>
        <property name="filter"    ref="filter"/>
    </bean>

    <!--i5 runner-->
    <bean id="gene3dRunner" class="uk.ac.ebi.interpro.scan.cli.Gene3dRunner">
        <property name="sequenceWriter">
            <bean class="uk.ac.ebi.interpro.scan.io.sequence.FastaSequenceWriter"/>
        </property> 
        <property name="proteinDao"   ref="proteinDao"/>
        <property name="signatureDao" ref="signatureDao"/>
        <property name="rawMatchDao"  ref="rawMatchDao"/>        
        <property name="marshaller"   ref="marshaller"/>
        <property name="processor"    ref="processor"/>
        <property name="filter"       ref="filter"/>
        <property name="deleteTemporaryFiles" value="true"/>
    </bean>

    <bean id="processor" class="uk.ac.ebi.interpro.scan.business.binary.RawMatchBinaryRunnerImpl">
        <property name="commandLineConversation" ref="commandLineConversation"/>
        <!--<property name="binaryPath">-->
            <!--<bean class="org.springframework.core.io.FileSystemResource">-->
                <!--<constructor-arg value="/ebi/production/interpro/binaries/64_bit_Linux/HMMER3.0b2/"/>-->
            <!--</bean>-->
        <!--</property>        -->
        <property name="binaryPath">
            <bean class="org.springframework.core.io.FileSystemResource">
                <constructor-arg value="/home/aquinn/bin/hmmer3/hmmer-3.0b2/binaries/intel-linux-ia32/"/>
            </bean>
        </property>
        <property name="binary" value="hmmsearch"/>
        <property name="arguments"    value="-Z 100000 --domE 1"/>
        <property name="parser">
            <bean class="uk.ac.ebi.interpro.scan.io.match.hmmer3.Hmmer3SearchMatchParser">
                <property name="parserSupport">
                    <bean class="uk.ac.ebi.interpro.scan.io.match.hmmer3.Gene3DHmmer3ParserSupport">
                        <property name="signatureLibraryRelease" value="3.3.0"/>
                        <property name="alignmentEncoder">
                            <bean class="uk.ac.ebi.interpro.scan.model.raw.alignment.CigarAlignmentEncoder"/>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="filter" class="uk.ac.ebi.interpro.scan.business.filter.Gene3dRawMatchFilter">
        <property name="binaryRunner">
            <bean class="uk.ac.ebi.interpro.scan.business.binary.SimpleBinaryRunner">
                <property name="binary"               value="DomainFinder3"/>
                <property name="arguments"            value="-l 5900 -e 0.001"/>
                <property name="deleteTemporaryFiles" value="false"/>
                <property name="commandLineConversation" ref="commandLineConversation"/>
            </bean>
        </property>
    </bean>

    <bean id="commandLineConversation" class="uk.ac.ebi.interpro.scan.io.cli.CommandLineConversationImpl"/>

</beans>