/**
 * Style signature matches by member database name.
 *
 * @author  Antony Quinn
 * @author  Matthew Fraser
 * @version $Id$
 */

span.pfam, span.pfamb {
    background-color: #1e82d4;
}

span.panther {
    background-color: #a66c32;
}

span.prints {
    background-color: #33cc33;
}

span.pirsf {
    background-color: #ff0000;
}

span.smart {
    background-color: #ffa99e;
}

span.prosite-profiles {
    background-color: #08ecec;
}

span.prosite-patterns {
    background-color: #0dc3c4;
}

span.hamap {
    background-color: #ffde00;
}

span.gene3d {
    background-color: #c3b8f0;
}

span.superfamily {
    background-color: #e354e3;
}

span.tigrfams {
    background-color: #ff9000;
}

span.prodom {
    background-color: #a1e42d;
}

span.signalp {
    background-color: #a5a5a5;
}

span.tmhmm {
    background-color: #000000;
}
