/**
 * Colours for entries of type domain and repeat.
 *
 * @author  Antony Quinn
 * @version $Id$
 */
span.c1 {
    background-color: #b852d4;
}
span.c2 {
    background-color: #00baf0;
}
span.c3 {
    background-color: #ff0000;
}
span.c4 {
    background-color: #33cc33;
}
span.c5 {
    background-color: #ffde00;
}
span.c6 {
    background-color: #ffa99e;
}
span.c7 {
    background-color: #c571ff;
}
span.c8 {
    background-color: #ff9000;
}
span.c9 {
    background-color: #c69c6d;
}
span.c10 {
    background-color: #deeded;
}
span.c11 {
    background-color: #1e82d4;
}
span.c12 {
    background-color: #a1e42d;
}
span.c13 {
    background-color: #ffff00;
}
span.c14 {
    background-color: #cf161d;
}
span.c15 {
    background-color: #ff6000;
}
span.c16 {
    background-color: #1cbbb4;
}
span.c17 {
    background-color: #e354e3;
}
span.c18 {
    background-color: #cbcbcb;
}
span.c19 {
    background-color: #92acd1
}
span.c20 {
    background-color: #a66c32;
}
span.c21 {
    background-color: #0000ff;
}
span.c22 {
    background-color: #0ff7fa;
}
span.c23 {
    background-color: #ecd66d;
}
span.c24 {
    background-color: #ffa8fd;
}
span.c25 {
    background-color: #9306ff;
}
span.c26 {
    background-color: #998675;
}
span.c27 {
    background-color: #c3b8f0;
}
span.c28 {
    background-color: #7db7ff;
}
span.c29 {
    background-color: #00984a
}
span.c30 {
    background-color: #bedbfe;
}
span.c31 {
    background-color: #ffdfdf;
}
span.c32 {
    background-color: #cde6a8;
}
span.c33 {
    background-color: #fffdcc;
}
span.c34 {
    background-color: #e6e4a8;
}
span.c35 {
    background-color: #d5a8e6;
}
span.c36 {
    background-color: #e6c4a8;
}
span.c37 {
    background-color: #82ca9c;
}
span.c38 {
    background-color: #dfffdc;
}
span.c39 {
    background-color: #c3b3a1;
}
span.c40 {
    background-color: #e7e1ff;
}
span.c41 {
    background-color: #950e0e;
}
span.c42 {
    background-color: #005e20;
}
span.c43 {
    background-color: #a2a420;
}
span.c44 {
    background-color: #e8ffa2;
}
span.c45 {
    background-color: #ff00ff;
}
span.c46 {
    background-color: #604036;
}
span.c47 {
    background-color: #717171;
}
span.c48 {
    background-color: #6af0a6;
}
span.c49 {
    background-color: #5d8ca2;
}
span.c50 {
    background-color: #6e2e9d;
}
span.c51 {
    background-color: #e56251;
}
span.c52 {
    background-color: #a6ff46;
}
span.c53 {
    background-color: #bf6b66;
}
span.c54 {
    background-color: #6d4afe;
}
span.c55 {
    background-color: #a186be;
}
span.c56 {
    background-color: #c5209c;
}
span.c57 {
    background-color: #d28428;
}
span.c58 {
    background-color: #86a185;
}
