<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <!-- JPA Persistence unit for local testing in HSQLDB - current in-memory database, but may change. -->
    <persistence-unit name="testPersistenceBusiness" transaction-type="RESOURCE_LOCAL">

        <description>
            Test persistence-unit that uses an in-memory HSQLDB database.
        </description>

        <!-- Interfaces -->
        <class>uk.ac.ebi.interpro.scan.model.Location</class>
        <class>uk.ac.ebi.interpro.scan.model.LocationWithSites</class>
        <class>uk.ac.ebi.interpro.scan.model.Match</class>
        <class>uk.ac.ebi.interpro.scan.model.Site</class>
        <class>uk.ac.ebi.interpro.scan.model.SiteLocation</class>

        <class>uk.ac.ebi.interpro.scan.model.Protein</class>
        <class>uk.ac.ebi.interpro.scan.model.Model</class>
        <!--<class>uk.ac.ebi.interpro.scan.model.Xref</class>-->
        <class>uk.ac.ebi.interpro.scan.model.ProteinXref</class>
        <class>uk.ac.ebi.interpro.scan.model.SignatureXref</class>
        <class>uk.ac.ebi.interpro.scan.model.Signature</class>
        <class>uk.ac.ebi.interpro.scan.model.SignatureLibraryRelease</class>

        <class>uk.ac.ebi.interpro.scan.model.Entry</class>
        <!--<class>uk.ac.ebi.interpro.scan.model.EntryType</class>-->
        <!--<class>uk.ac.ebi.interpro.scan.model.GoCategory</class>-->
        <class>uk.ac.ebi.interpro.scan.model.GoXref</class>
        <class>uk.ac.ebi.interpro.scan.model.Release</class>
        <class>uk.ac.ebi.interpro.scan.model.PathwayXref</class>

        <!--Nucleotide sequences-->
        <class>uk.ac.ebi.interpro.scan.model.OpenReadingFrame</class>
        <class>uk.ac.ebi.interpro.scan.model.NucleotideSequence</class>
        <class>uk.ac.ebi.interpro.scan.model.NucleotideSequenceXref</class>

        <properties>
            <property name="hibernate.show_sql" value="${mvn.hibernate.show_sql}"/>
            <property name="hibernate.format_sql" value="${mvn.hibernate.format_sql}"/>
            <property name="hibernate.connection.driver_class" value="${mvn.i5.database.driver}"/>
            <property name="hibernate.connection.url" value="${mvn.i5.database.connection.url}"/>
            <property name="hibernate.connection.username" value="${mvn.i5.database.username}"/>
            <property name="hibernate.connection.password" value="${mvn.i5.database.password}"/>
            <property name="hibernate.dialect" value="${mvn.hibernate.dialect}"/>
            <property name="hibernate.hbm2ddl.auto" value="${mvn.hibernate.hbm2ddl.auto}"/>

            <!-- Use c3p0 connection pooling instead of hibernate default (not for production use) -->
            <property name="hibernate.c3p0.min_size" value="1"/>
            <property name="hibernate.c3p0.max_size" value="15"/>
            <property name="hibernate.c3p0.acquire_increment" value="3"/>
            <property name="hibernate.c3p0.idle_test_period" value="3000"/>
            <property name="hibernate.c3p0.max_statements" value="15"/>
            <property name="hibernate.c3p0.timeout" value="1800"/>
        </properties>

    </persistence-unit>

</persistence>

