<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <!-- Console appender -->
    <appender name="consoleappender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%C:%L] %p - %m%n"/>
        </layout>
    </appender>

    <!-- File appender -->
    <appender name="fileappender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${log4j.log.file}"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%C:%L] %p - %m%n"/>
        </layout>
    </appender>

    <!--<logger name="uk.ac.ebi.interpro.scan.jms.activemq.AmqInterProScanMaster">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.management.model.implementations.hmmer3.Gene3dHmmer3FilterStep">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.business.filter.Gene3dRawMatchFilter">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.business.binary.AbstractBinaryRunner">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.io.cli.CommandLineConversationImpl">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.jms.activemq.StepExecutionTransactionImpl">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.precalc.client.MatchHttpClient">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="org.springframework.oxm.jaxb.Jaxb2Marshaller">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.management.model.implementations.stepInstanceCreation.proteinLoad.StepCreationSequenceLoadListener">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.management.model.implementations.WriteOutputStep">-->
    <!--<level value="info"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.persistence.Hmmer3FilteredMatchDAO">-->
    <!--<level value="info"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.management.model.implementations.stepInstanceCreation.proteinLoad.FastaFileLoadStep">-->
    <!--<level value="debug"/>-->
    <!--</logger>-->

    <logger name="uk.ac.ebi.interpro.scan.business.sequence.BerkeleyPrecalculatedProteinLookup">
        <level value="debug"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="warn"/>
        <appender-ref ref="consoleappender"/>
    </root>

</log4j:configuration>
