<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <!-- Console appender -->
    <appender name="consoleappender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] [%C:%L] %p - %m%n"/>
        </layout>
    </appender>

    <!-- File appender -->
    <appender name="fileappender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${log4j.log.file}"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] [%C:%L] %p - %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache.activemq.broker.TransportConnection">
        <level value="error"/>
    </logger>

    <logger name="org.apache.activemq.transport.failover.FailoverTransport">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <level value="error"/>
    </logger>

    <!--<logger name="uk.ac.ebi.interpro.scan.jms.master.queuejumper.platforms.SubmissionWorkerRunner">-->
    <!--<level value="error"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.jms">-->
        <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.management.model.implementations">-->
        <!--<level value="debug"/>-->
    <!--</logger>-->

    <!--<logger name="uk.ac.ebi.interpro.scan.business.sequence.fasta.LoadFastaFileImpl">-->
    <!--<level value="debug" />-->
    <!--</logger>-->

    <logger name="uk.ac.ebi.interpro.scan">
    <level value="debug" />
    </logger>


    <!-- Root Logger -->
    <root>
        <priority value="warn"/>
        <appender-ref ref="consoleappender"/>
    </root>

</log4j:configuration>
