<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <!-- JPA Persistence unit for HSQLDB - current in-memory database, but may change. -->
    <persistence-unit name="persistenceJms" transaction-type="RESOURCE_LOCAL">
        <!-- Interfaces -->
        <class>uk.ac.ebi.interpro.scan.model.LocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.Location</class>
        <class>uk.ac.ebi.interpro.scan.model.LocationWithSites</class>
        <class>uk.ac.ebi.interpro.scan.model.Match</class>
        <class>uk.ac.ebi.interpro.scan.model.Site</class>
        <class>uk.ac.ebi.interpro.scan.model.SiteLocation</class>

        <class>uk.ac.ebi.interpro.scan.model.Protein</class>
        <class>uk.ac.ebi.interpro.scan.model.Model</class>
        <class>uk.ac.ebi.interpro.scan.model.Xref</class>
        <class>uk.ac.ebi.interpro.scan.model.ProteinXref</class>
        <class>uk.ac.ebi.interpro.scan.model.SignatureXref</class>
        <class>uk.ac.ebi.interpro.scan.model.Signature</class>
        <class>uk.ac.ebi.interpro.scan.model.SignatureLibraryRelease</class>

        <class>uk.ac.ebi.interpro.scan.model.OpenReadingFrame</class>
        <class>uk.ac.ebi.interpro.scan.model.NucleotideSequence</class>
        <class>uk.ac.ebi.interpro.scan.model.NucleotideSequenceXref</class>

        <class>uk.ac.ebi.interpro.scan.model.Entry</class>
        <class>uk.ac.ebi.interpro.scan.model.EntryType</class>
        <class>uk.ac.ebi.interpro.scan.model.GoCategory</class>
        <class>uk.ac.ebi.interpro.scan.model.GoXref</class>
        <class>uk.ac.ebi.interpro.scan.model.Release</class>
        <class>uk.ac.ebi.interpro.scan.model.PathwayXref</class>

        <!-- Concrete Matches -->
        <class>uk.ac.ebi.interpro.scan.model.RPSBlastMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.BlastProDomMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.FingerPrintsMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.HmmerMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer2Match</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3Match</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3MatchWithSites</class>
        <class>uk.ac.ebi.interpro.scan.model.MobiDBMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.PhobiusMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.PatternScanMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.ProfileScanMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.CoilsMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.PantherMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.SuperFamilyHmmer3Match</class>
        <class>uk.ac.ebi.interpro.scan.model.TMHMMMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.SignalPMatch</class>

        <!-- Concrete Locations. -->
        <class>uk.ac.ebi.interpro.scan.model.RPSBlastMatch$RPSBlastLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer2Match$Hmmer2Location</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3Match$Hmmer3Location</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3MatchWithSites$Hmmer3LocationWithSites</class>
        <class>uk.ac.ebi.interpro.scan.model.MobiDBMatch$MobiDBLocation</class>

        <class>uk.ac.ebi.interpro.scan.model.FingerPrintsMatch$FingerPrintsLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.BlastProDomMatch$BlastProDomLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.PhobiusMatch$PhobiusLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.PatternScanMatch$PatternScanLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.ProfileScanMatch$ProfileScanLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.CoilsMatch$CoilsLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.PantherMatch$PantherLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.SuperFamilyHmmer3Match$SuperFamilyHmmer3Location</class>
        <class>uk.ac.ebi.interpro.scan.model.TMHMMMatch$TMHMMLocation</class>
        <class>uk.ac.ebi.interpro.scan.model.SignalPMatch$SignalPLocation</class>

        <!--Concrete Sites-->
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3MatchWithSites$Hmmer3LocationWithSites$Hmmer3Site</class>
        <class>uk.ac.ebi.interpro.scan.model.RPSBlastMatch$RPSBlastLocation$RPSBlastSite</class>

        <!-- Location fragments -->
        <class>uk.ac.ebi.interpro.scan.model.FingerPrintsMatch$FingerPrintsLocation$FingerPrintsLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3MatchWithSites$Hmmer3LocationWithSites$Hmmer3LocationWithSitesFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer3Match$Hmmer3Location$Hmmer3LocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.RPSBlastMatch$RPSBlastLocation$RPSBlastLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.TMHMMMatch$TMHMMLocation$TMHMMLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.SignalPMatch$SignalPLocation$SignalPLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.PantherMatch$PantherLocation$PantherLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.ProfileScanMatch$ProfileScanLocation$ProfileScanLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.BlastProDomMatch$BlastProDomLocation$BlastProDomLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.CoilsMatch$CoilsLocation$CoilsLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.Hmmer2Match$Hmmer2Location$Hmmer2LocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.MobiDBMatch$MobiDBLocation$MobiDBLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.PatternScanMatch$PatternScanLocation$PatternScanLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.PhobiusMatch$PhobiusLocation$PhobiusLocationFragment</class>
        <class>uk.ac.ebi.interpro.scan.model.SuperFamilyHmmer3Match$SuperFamilyHmmer3Location$SuperFamilyHmmer3LocationFragment</class>

        <!-- Raw Matches -->
        <class>uk.ac.ebi.interpro.scan.model.raw.RawMatch</class>


        <class>uk.ac.ebi.interpro.scan.model.raw.HmmerRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.Hmmer2RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.Hmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.MobiDBRawMatch</class>

        <class>uk.ac.ebi.interpro.scan.model.raw.RPSBlastRawMatch</class>

        <class>uk.ac.ebi.interpro.scan.model.raw.AntiFamHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.CDDRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PfamHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.SFLDHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.SmartRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.TigrFamHmmer2RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.TigrFamHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.FunFamHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.Gene3dHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.HamapRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PrintsRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.ProDomRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.ProfileScanRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.ProSitePatternRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.ProSiteProfileRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PfScanRawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PIRSFHmmer2RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PirsfHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PIRSRHmmer3RawMatch</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PantherRawMatch</class>

        <!--Raw Sites-->
        <class>uk.ac.ebi.interpro.scan.model.raw.CDDRawSite</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.PIRSRHmmer3RawSite</class>
        <class>uk.ac.ebi.interpro.scan.model.raw.SFLDHmmer3RawSite</class>

        <class>uk.ac.ebi.interpro.scan.management.model.StepExecution</class>
        <class>uk.ac.ebi.interpro.scan.management.model.StepInstance</class>

    </persistence-unit>

</persistence>
