<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- Import common beans -->
    <import resource="spring-config-common.xml"/>
    <import resource="pfam-A-job-context.xml"/>
    <import resource="persistence-config.xml"/>

    <bean id="master" class="uk.ac.ebi.interpro.scan.jms.master.InterProScanMaster">
        <property name="sessionHandler" ref="sessionHandler"/>
        <property name="jobSubmissionQueueName" value="jms.queue.${job.submission.queue}"/>
        <property name="responseMonitor" ref="responseMonitor"/>
        <property name="managementRequestTopicName" value="jms.topic.${worker.manager.topic}"/>
        <property name="jobs">
            <list>
                <ref bean="job_pfam_A"/>
            </list>
        </property>
        <property name="loader" ref="loader"/>
        <property name="proteinDAO" ref="proteinDAO"/>
    </bean>

    <bean id="responseMonitor" class="uk.ac.ebi.interpro.scan.jms.master.ResponseMonitorImpl">
        <property name="monitorResponseTimeout" value="5000"/>
        <property name="sessionHandler" ref="sessionHandler"/>
        <property name="handler" ref="responseHandler"/>
        <property name="workerJobResponseQueueName" value="jms.queue.${worker.job.response.queue}"/>
    </bean>

    <bean id="responseHandler" class="uk.ac.ebi.interpro.scan.jms.master.InterProScanHandlerImpl"/>

        <bean id="loader" class="uk.ac.ebi.interpro.scan.business.sequence.fasta.LoadFastaFile">
        <constructor-arg ref="testFastaFile"/>
        <property name="transactionProteinCount" value="250"/>
        <property name="proteinDAO" ref="proteinDAO"/>
    </bean>

    <bean id="testFastaFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="testdata/5k.fasta" />
    </bean>
</beans>
        
