<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- Import common beans -->
    <import resource="spring-config-common.xml"/>
    <import resource="spring-config-jobs.xml"/>


    <bean id="master" class="uk.ac.ebi.interpro.scan.jms.master.InterProScanMaster">
        <property name="sessionHandler" ref="sessionHandler"/>
        <property name="jobSubmissionQueueName" value="jms.queue.${job.submission.queue}"/>
        <property name="responseMonitor" ref="responseMonitor"/>
        <property name="managementRequestTopicName" value="jms.topic.${worker.manager.topic}"/>
        <property name="jobs" ref="jobs"/>

        <!-- The following properties are just for the 'hacked' demonstration. (Loading proteins
        and Pfam models prior to running the analysis. -->
        <property name="pfamHMMfilePath" value="/ebi/production/interpro/data/members/PFAM_HMMER3/24.0/Pfam-A.hmm"/>
        <property name="stepInstanceDAO" ref="stepInstanceDAO"/>
        <property name="stepExecutionDAO" ref="stepExecutionDAO"/>
        <property name="signatureLibraryReleaseDAO" ref="signatureLibraryReleaseDAO"/>
    </bean>

    <bean id="responseMonitor" class="uk.ac.ebi.interpro.scan.jms.master.ResponseMonitorImpl">
        <property name="monitorResponseTimeout" value="5000"/>
        <property name="sessionHandler" ref="sessionHandler"/>
        <property name="handler" ref="responseHandler"/>
        <property name="workerJobResponseQueueName" value="jms.queue.${worker.job.response.queue}"/>
    </bean>

    <bean id="responseHandler" class="uk.ac.ebi.interpro.scan.jms.master.InterProScanHandlerImpl">
        <property name="stepExecutionDAO" ref="stepExecutionDAO"/>
    </bean>
</beans>

