<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- Import common beans -->
    <import resource="spring-config-common.xml"/>
    <import resource="spring-config-servers.xml"/>

    <!-- Starts up parallel workers.  Used by the queueJumper bean, which starts up
    a new parallel worker each time a parallel TaskExecution is run. -->
    <bean id="parallelWorkerRunner" class="uk.ac.ebi.interpro.scan.jms.broker.platforms.SubmissionWorkerRunner">
        <property name="optionalPrefix" value="ssh -x ${unix.username}@ebi-001.ebi.ac.uk"/>
        <property name="submissionJobFile" value="lsf_parallel.sh"/>
        <property name="submissionType" value="lsf"/>
    </bean>

    <!-- Starts up a serial worker.  Used by the broker bean to start up a single multi-use worker. -->
    <bean id="serialWorkerRunner" class="uk.ac.ebi.interpro.scan.jms.broker.platforms.SubmissionWorkerRunner">
        <property name="optionalPrefix" value="ssh -x ${unix.username}@ebi-001.ebi.ac.uk"/>
        <property name="submissionJobFile" ref="lsfSerialFile"/>
        <property name="submissionType" value="lsf"/>
    </bean>

    <!-- Starts up a serial worker using the Sun Grid Engine.  Used by the broker bean to start up a single multi-use worker.
         The shellPath is optional and defaults to the Bourne shell /bin/sh if not set.-->
    <bean id="serialWorkerRunnerSGE" class="uk.ac.ebi.interpro.scan.jms.broker.platforms.SubmissionWorkerRunner">
        <property name="optionalPrefix" value="ssh -x ${unix.username}@sge001.ebi.ac.uk"/>
        <property name="shellPath" value = "/bin/bash"/>
        <property name="submissionJobFile" ref="sgeExecutionFile"/>
        <property name="submissionType" value="sge"/>
    </bean>

    <!-- Starts up a serial worker on a local machine (defined in spring-config-servers.xml).  Used by the lanBroker bean to start up a single multi-use worker. -->
    <bean id="lanWorkerRunner" class="uk.ac.ebi.interpro.scan.jms.broker.platforms.LANWorkerRunner">
        <property name="command"
                  value='/homes/pjones/program_files/apache-maven-2.2.1/bin/mvn -e -P runSerialWorker -f /ebi/sp/pro1/interpro/programmers/pjones/projects/i5_new/jms-implementation/pom.xml exec:java'/>
        <property name="accessPrefix" value="ssh -x ${unix.username}"/>
        <property name="lanServerListing" ref="serverNames"/>
    </bean>

    <bean id="queueJumper" class="uk.ac.ebi.interpro.scan.jms.broker.QueueJumper">
        <!-- This filter ensures that the QueueJumper only starts up new JVMs for
        parallel tasks.  Serial tasks are filtered by a specific worker directly from
        the workerJobRequestQueue. -->
        <property name="jmsMessageSelector" value="parallel = TRUE"/>
        <property name="connectionConfiguration" ref="sessionHandler"/>
        <property name="parallelWorkerRunner" ref="parallelWorkerRunner"/>

        <property name="workerJobRequestQueueName" value="jms.queue.${worker.job.request.queue}"/>
        <property name="jobSubmissionQueueName" value="jms.queue.${job.submission.queue}"/>
    </bean>

    <bean id="lanBroker" class="uk.ac.ebi.interpro.scan.jms.broker.OnionBroker">
        <property name="serialWorkerRunner" ref="lanWorkerRunner"/>
        <property name="connectionConfigurationXml" value="hornetq-configuration.xml"/>
        <property name="queueJumper" ref="queueJumper"/>
        <property name="jmsConfigurationXml" value="hornetq-jms.xml"/>
    </bean>

    <bean id="sgeBroker" class="uk.ac.ebi.interpro.scan.jms.broker.OnionBroker">
        <property name="serialWorkerRunner" ref="serialWorkerRunnerSGE"/>
        <property name="connectionConfigurationXml" value="hornetq-configuration.xml"/>
        <property name="queueJumper" ref="queueJumper"/>
        <property name="jmsConfigurationXml" value="hornetq-jms.xml"/>
    </bean>

    <bean id="broker" class="uk.ac.ebi.interpro.scan.jms.broker.OnionBroker">
        <property name="serialWorkerRunner" ref="serialWorkerRunner"/>
        <property name="connectionConfigurationXml" value="hornetq-configuration.xml"/>
        <property name="queueJumper" ref="queueJumper"/>
        <property name="jmsConfigurationXml" value="hornetq-jms.xml"/>
    </bean>

    <bean id="sgeExecutionFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="sge_exec.sh" />
    </bean>

    <bean id="lsfSerialFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="lsf_serial.sh" />
    </bean>

    <bean id="lsfParallelFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="lsf_parallel.sh" />
    </bean>

</beans>
        
