<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <bean id="connectionFactory" class="org.hornetq.jms.client.HornetQConnectionFactory">
        <constructor-arg ref="transportConfiguration"/>
    </bean>

    <bean id="transportConfiguration" class="org.hornetq.api.core.TransportConfiguration">
        <constructor-arg index="0" value="org.hornetq.integration.transports.netty.NettyConnectorFactory"/>
        <constructor-arg index="1">
            <map>
                <entry key="host" value="${broker.host.name}"/>
                <entry key="port" value="${broker.port.number}"/>
            </map>
        </constructor-arg>
    </bean>
</beans>
