<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- Import common beans -->
    <import resource="spring-config-common.xml"/>
    <import resource="spring-config-jobs.xml"/>


    <bean id="parallelWorker" class="uk.ac.ebi.interpro.scan.jms.worker.InterProScanWorker">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="jobRequestQueueName" value="jms.queue.${mvn.worker.job.request.queue}"/>
        <property name="jobResponseQueueName" value="jms.queue.${mvn.worker.job.response.queue}"/>
        <property name="jobs" ref="jobs"/>
        <property name="millisecondsMaxIdleTime" value="${jvm.maximum.idle.time.seconds}000"/>   <!-- Close after 2 minutes of being idle. -->
        <property name="millisecondsToLive" value="${jvm.maximum.life.seconds}000"/>       <!-- Maximum time to live 2 hours. -->
        <property name="workerManagerTopicName" value="jms.topic.${mvn.worker.manager.topic}"/>
        <property name="workerManagerResponseQueueName" value="jms.queue.${mvn.worker.manager.response.queue}"/>
    </bean>

</beans>
