<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- Import common beans -->
    <import resource="pfam-A-job-context.xml"/>
    <!--<import resource="job-load-from-fasta-spring.xml"/>-->
    <import resource="persistence-config.xml"/>

    <import resource="spring-config-uapro-db-access.xml"/>


    <bean id="jobs" class="uk.ac.ebi.interpro.scan.management.model.Jobs">
        <property name="jobList">
            <list>
                <ref bean="job_pfam_A"/>
                <ref bean="jobLoadFromFasta"/>
                <ref bean="jobLoadFromUniParc"/>
            </list>
        </property>
    </bean>


    <!--<import resource="spring-config-jobs.xml"/>-->

    <!-- ######################## JOB: job-load-from-fasta ############################  -->
    <bean id="jobLoadFromFasta" class="uk.ac.ebi.interpro.scan.management.model.Job">
        <property name="description"                        value="Load proteins from a fasta file and create required JobInstance objects"/>
    </bean>


    <!-- STEP 1 -->
    <bean id="stepLoadFromFasta"                 class="uk.ac.ebi.interpro.scan.management.model.implementations.stepInstanceCreation.proteinLoad.FastaFileLoadStep">
        <property name="job"                                ref="jobLoadFromFasta"/>
        <!-- This step has no dependencies, so will be scheduled first for its associated job. -->
        <property name="stepDescription"                    value="Load proteins from a fasta file and create required JobInstance objects"/>
        <property name="createStepInstancesForNewProteins"  value="false"/>
        <property name="retries"                            value="0"/>
        <property name="parallel"                           value="false"/>
        <property name="fastaFileLoader"                    ref="fastaFileLoader"/>
    </bean>

    <!-- !!!!!!!!!!!!!!!!!!!!! JOB-END: jobLoadFromFasta !!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->

    <!-- ######################## JOB: jobLoadFromUniParc ############################  -->
    <bean id="jobLoadFromUniParc" class="uk.ac.ebi.interpro.scan.management.model.Job">
        <property name="description"                        value="Load proteins from UniParc and create required JobInstance objects"/>
    </bean>

    <!-- STEP 1 -->
    <bean id="stepLoadFromUniParc"                 class="uk.ac.ebi.interpro.scan.management.model.implementations.stepInstanceCreation.proteinLoad.UniparcProteinLoadStep">
        <property name="job"                                ref="jobLoadFromUniParc"/>
        <!-- This step has no dependencies, so will be scheduled first for its associated job. -->
        <property name="stepDescription"                    value="Load proteins from UniParc and create required JobInstance objects"/>
        <property name="createStepInstancesForNewProteins"  value="false"/>
        <property name="retries"                            value="0"/>
        <property name="parallel"                           value="false"/>
        <property name="uniparcLoader"                    ref="uniparcLoader"/>
    </bean>

    <!-- !!!!!!!!!!!!!!!!!!!!! JOB-END: jobLoadFromUniParc !!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->

    <!-- ######################## Dependencies ############################  -->
    <bean id="fastaFileLoader" class="uk.ac.ebi.interpro.scan.business.sequence.fasta.LoadFastaFileImpl">
        <property name="proteinLoader" ref="proteinLoader"/>
    </bean>

    <bean id="proteinLoader" class="uk.ac.ebi.interpro.scan.business.sequence.ProteinLoader">
        <property name="proteinInsertBatchSize" value="1000"/>
        <property name="proteinLoadListener" ref="proteinLoadListener"/>
        <property name="proteinDAO" ref="proteinDAO"/>
    </bean>

    <bean id="proteinLoadListener" class="uk.ac.ebi.interpro.scan.management.model.implementations.stepInstanceCreation.proteinLoad.StepCreationProteinLoadListener">
        <property name="stepInstanceDAO" ref="stepInstanceDAO"/>
        <property name="jobs" ref="jobs"/>
    </bean>


    <bean id="uniparcLoader" class="uk.ac.ebi.interpro.scan.business.sequence.uniparcdb.LoadUniParcFromDBImpl">
        <property name="jdbcTemplate" ref="targetJdbcTemplate"/>
        <property name="rowCallbackHandlerTemplate" ref="rowCallbackHandlerTemplate"/>
        <property name="maximumProteins" value="20000"/>
        <property name="xrefDao" ref="xrefDAO"/>
    </bean>

    <bean id="rowCallbackHandlerTemplate" class="uk.ac.ebi.interpro.scan.business.sequence.uniparcdb.UniParcDBRowCallbackHandler">
        <property name="proteinLoader" ref="proteinLoader"/>
    </bean>

</beans>

