.caption {
    font-size: 14px;
    font-family: Georgia, serif;
}

.tooltip {
    font-size: 12px;
}

.tooltip_bg {
    fill: #FFFFA3;
    stroke: #FF7400;
    stroke-width: 0.5px;
}

.blob_tooltip_bg {
    fill: #FFFFA3;
    stroke: #000001;
    stroke-width: 1px;
}