body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 11px;
}

/*ALMOST SAME AS INTERPRO (remove .contents and change image URL***Need to work out a better way of maintaining this css.*******************************/
a:link, a {
    color: #0072fe;
    text-decoration: none;
}

a:visited {
    color: #5f96d9;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #0072fe;
    text-decoration: underline;
}

a.neutral, a.neutral:link {
    text-decoration: none;
    color: #525252;
}

a.neutral:hover, a.neutral:active, a.neutral:focus {
    text-decoration: underline;
}

a.ext, a.ext:link {
    color: #0072fe;
    text-decoration: none;
    padding-left: 13px;
    background: url(../images/ico_ext_link.png) no-repeat 0 2px;
}

a.ext:visited {
    color: #5292e1;
    text-decoration: none;
}

a.ext:hover, a.ext:active, a.ext:focus {
    color: #0072fe;
    text-decoration: underline;
    background: url(../images/ico_ext_link_on.png) no-repeat 0 2px;
}

h1 {
    color: #284adb; /*green #55a2ab purple blue #284adb dark grey #4c4c4c */
    font-size: 190%; /*was150%*/
    /*font-size: 2em;*/
    background: none;
    border: 0px solid #BFBFBF;
    font-weight: normal;
    margin: 6px 0 12px 0;
    padding: 0;
}

h1  span {
    font-size: 90%;
}

.contentsarea {
    color: #525252;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px solid red;
}

.left-menu {
    border: 0px solid green;
    display: block;
    width: 170px; /* was 180px - to gain some space even if domain organisation is falling on 2 lines */
    float: left;
}

.main-content {
    margin-left: 182px;
}

.r_option {
    float: right;
    padding-right: 110px; /*temporary because of the beta - was 4px*/
    border: 0px solid #cecece;
    width: 350px; /*to keep higher for IE6*/
}

a.export {
    border: 1px solid #d4d4d4;
    float: right;
    background: url(../images/bgd_exp_grey.png) repeat-x bottom left;
    text-decoration: none;
    color: #6b6b6b;
    font-size: 90%;
    /*    letter-spacing:-1px;*/
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 4px;
    height: 14px;
    margin-left: 8px;
}

a.export:hover, a.export:active, a.export:focus {
    border: 1px solid #77ace0;
    text-decoration: none;
    background: url(../images/bgd_exp_grey_o.png) repeat-x bottom left;
    color: white;
}

.export a {
    text-decoration: none;
    color: #6b6b6b;
    font-size: 90%;
}

.export a:hover, .export a:active, .export a:focus {
    border: 1px solid #77ace0;
    text-decoration: none;
    color: white;
}

.exp_fasta {
    background: url(../images/ico_exp_fasta.png) no-repeat;
    width: 13px;
    height: 13px;
    float: left;
    padding-right: 2px;
}

.exp_tsv {
    background: url(../images/ico_exp_tsv.png) no-repeat;
    width: 13px;
    height: 13px;
    float: left;
    padding-right: 2px;
}

/* Structures colours */
span.PDB {
    background-color: #82a4bf;
}

span.CATH {
    background-color: #b852d4;
}

span.SCOP {
    background-color: #000;
}

span.SWISS-MODEL {
    background-color: #cf161d;
}

span.MODBASE {
    background-color: #ffac0b;
}

.Family_tab, .Protein_tab, .Domain_tab, .site_tab, .Repeat_tab, .PTM_tab, .Region_tab, .sign_uni_tab {
    color: #475e73;
    font-size: 160%;
    border-bottom: 0px solid #eaeaea;
}

.Protein_tab {
    color: #1897e9;
    padding: 0 0 4px 22px;
    background: url(../images/ico_type_protein.png) no-repeat 0 2px;
}

.main-box {
    border: 1px solid #e4e4e4;
    padding: 6px;
    float: left;
    width: 98%; /* this is a mystery to correct*/
}

.menu-filter {
    width: 162px;
    clear: left;
    float: left;
    display: block;
    border: 1px solid #d3d3d3;
    padding: 6px;
    font-size: 110%;
    background-color: #efefef;
}

.menu-filter H1 {
    color: #434343;
    font-size: 120%;
    font-weight: bold;
}

.menu-filter fieldset {
    padding-top: 12px;
}

.menu-filter fieldset label.view_all {
    padding-left: 19px;
    padding-top: 5px;
    background: url(../images/ico_type_all.png) no-repeat 0 2px;
    font-weight: bold;
}

.menu-filter div {
    margin-bottom: 10px;
}

.menu-filter div H1 {
    color: #2e5882;
    font-size: 110%;
    font-weight: bold;
    background-color: #f2f6f8;
    border: 1px solid #9eb6ce;
    padding: 4px 10px;
    margin: 0;
}

.menu-filter div H1, .menu-filter .menu-filter-type fieldset, .menu-filter .menu-filter-status fieldset, .menu-filter .menu-filter-colour fieldset {
    box-shadow: 0px 2px 2px #adadad;
    -moz-box-shadow: 0px 2px 2px #adadad;
    -khtml-box-shadow: 0px 2px 2px #adadad;
    -webkit-box-shadow: 0px 2px 2px #adadad;
}

.menu-filter div fieldset {
    border: 1px solid #d1d1d1;
    margin: 0;
}

.menu-filter .menu-filter-type div, .menu-filter .menu-filter-status div, .menu-filter .menu-filter-colour div {
    display: block;
}

.menu-filter .menu-filter-type fieldset, .menu-filter .menu-filter-status fieldset, .menu-filter .menu-filter-colour fieldset {
    background-color: #fff;
    padding: 6px 2px;
    border-top: 0;
    -moz-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.menu-filter .menu-filter-type label, .menu-filter .menu-filter-status label {
    border: 0px green solid;
    padding-left: 19px;
    padding-top: 5px;
}

.menu-filter .menu-filter-type label.family {
    background: url(../images/ico_type_family.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-type label.domains {
    background: url(../images/ico_type_domain.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-type label.repeats {
    background: url(../images/ico_type_repeat.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-type label.site {
    background: url(../images/ico_type_site.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-status label.uni {
    background: url(../images/ico_type_uni.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-colour {
    font-size: 80%;
}

.menu-filter .menu-filter-colour legend {
    font-size: 110%;
    font-weight: bold;
}



/*BEGIN protein page*/
.prot_gal, .prot_tree, .prot_sum, .prot_entries, .prot_go {
    background: url(../images/ico_sq_6.gif) no-repeat 0 12px;
    padding-left: 12px;
    border: 0px solid red;
}

#uni {
    background: none;
    border: 0px solid green;
    margin: 0 0 24px 0;
}

/*exception only for unintegrated entries*/

ol.entries, ol.signatures, ol.structural-features, ol.structural-predictions {
    margin: 0;
    padding: 0;
}

ol.entries li, ol.signatures li, ol.structural-features li, ol.structural-predictions li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.prot_gal {
    margin: 12px 0 24px 0;
}

.prot_entries, .prot_sum, .prot_scale {
}

/*fix the width of your sequence view*/
.prot_gal h1, .prot_sum h1, .prot_entries h1, .prot_tree  h1, .prot_sum h1, .prot_go h1 {
    font-size: 120%;
    color: #393939;
    font-weight: bold;
    padding: 0;
}

/*.prot_go h1,.prot_entries h1, .prot_tree  h1  {font-size:130%; background-color:#dedede; padding:6px}*/
.prot_gal h1, .prot_tree h1 {
    margin: 6px 0 3px 0px;
}

.prot_sum h1 {
    margin: 6px 0 0 0;
}

.prot_gal .prot_gal_bloc {
    border: 0px solid green;
    overflow: auto;
    clear: both; /* added for IE6 that doesn't recognise overflow*/
}

.prot_gal .prot_gal_bloc .prot_gal_col {
    width: 80px;
    display: block;
    float: left;
}

.prot_gal .prot_gal_bloc .prot_gal_desc {
    font-size: 120%;
    color: #838383;
    border: 0px solid blue;
    float: left;
    margin: 6px 0 3px 6px;
}

.prot_gal .prot_gal_source {
    float: right;
    display: block;
    font-size: 90%;
}

.prot_gal .prot_gal_source span {
    color: #838383;
}

.prot_gal hr {
    height: 1px;
    color: #cdcdcd;
    background-color: #cdcdcd;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.prot_tree {
    margin: 12px 0 24px 0;
    overflow: auto;
}

.prot_tree .prot_tree_desc {
    color: #393939;
    border: 0px solid green;
    margin-bottom: 6px;
}

.prot_tree .prot_tree_desc a {
    font-size: 120%;
}

.prot_tree .prot_tree_desc a.neutral {
    text-decoration: none;
    color: #0072FE;
}

.prot_tree .prot_tree_desc a.neutral:hover, .prot_tree .prot_tree_desc a.neutral:active, .prot_tree .prot_tree_desc .a.neutral:focus {
    text-decoration: underline;
}

.prot_tree .prot_tree_desc a.neutral span {
    color: #393939;
}

.prot_tree .prot_tree_desc ul { margin:0;padding:0;}
.prot_tree .prot_tree_desc ul li { margin:0;}

.prot_tree .prot_tree_desc div {
    margin: 0 0 3px;
}

.prot_tree .prot_tree_desc span {
    font-size: 90%;
    color: #393939;
    border: 0px solid red;
}

.prot_entries {
    margin: 12px 0 0 0;
    border: 1px solid white; /*to solve bug puce with alignment*/
}

.prot_entries li.entry {
    margin-bottom: 16px;
}

.prot_entries .top-row {
    border: 0px solid red;
    overflow: auto;
}

.prot_entries .top-row .top-row-id {
    float: left;
    border: 1px solid #d8d8d8;
    width: 110px;
    padding: 1px 0 1px 6px;
    margin-right: 12px;
    background-color: transparent;
    background-image: linear-gradient(top, rgba(255, 255, 255, .85), rgba(247, 247, 247, .85));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .85), rgba(247, 247, 247, .85));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .85), rgba(247, 247, 247, .85));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .85)), to(rgba(247, 247, 247, .85)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .85), rgba(247, 247, 247, .85));
}

.prot_entries .top-row .top-row-id:hover {
    background-image: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.prot_entries .top-row .top-row-id:hover a:hover {
    text-decoration: none;
}

.prot_entries .top-row .top-row-id img {
    float: left;
    margin-right: 12px;
    padding-top: 1px;
}

.prot_entries .top-row .top-row-name {
    float: left;
    font-size: 120%;
    padding: 1px 0px;
    border: 0px blue solid;
}

.prot_entries .bot-row {
    border: 0px solid green;
    overflow: auto;
    margin-top: 1px;
}

.prot_entries .bot-row .bot-row-line-top {
    margin: 0 164px 0 128px;
    border-bottom: 1px solid #d8d8d8;
}

.prot_entries .bot-row .bot-row-line-bot {
    margin: 0 164px 0 128px;
    border-top: 1px solid #d8d8d8;
}

.prot_entries .bot-row  ol.signatures {
}

.prot_entries .bot-row  ol.signatures li {
    border: 0px solid purple;
    overflow: auto;
    clear: both; /* added for IE6 that doesn't recognise overflow*/
}

.prot_entries .bot-row  ol.signatures li .bot-row-line {
    margin-left: 128px;
    margin-right: 164px;
    height: 17px;
    background-color: #efefef;
    display: block;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.prot_entries .bot-row  ol.signatures li .bot-row-signame {
    float: right;
    width: 150px;
    background: url(../images/arrow_01.png) no-repeat 0px 4px;
    padding-left: 10px;
    border: 0px solid pink;
}

.prot_entries .bot-row  ol.signatures li .bot-row-signame span {
    font-size: 70%;
}

.prot_entries .bot-row  ol.signatures li .bot-row-line .matches {
    position: relative;
    border: 0px solid pink;
}

/* Individual match */
.prot_entries .bot-row  ol.signatures li .bot-row-line .matches .match {
    _font-size: 30%; /*IE6 bug - doesn't read height*/
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 5px;
    top: 0.4em;
    position: absolute;
    z-index: 1; /* Show above match line */
}

.prot_entries .bot-row  ol.signatures li .bot-row-line .matches .match:hover {
    height: 0.7em; /* Enlarge slightly: */
    top: 0.3em;
    z-index: 5;
    box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
}

.prot_entries .bot-row ol.signatures li .bot-row-line .matches .grade {
    background: url(../images/bgd_dot.gif) repeat-y;
    width: 1px;
    height: 17px;
    position: absolute;
    z-index: 0;
}

.prot_sum {
    margin: 12px 0 24px 0;
}

.prot_sum .top-row {
    border: 0px solid red;
    overflow: auto;
    clear: both; /* added for IE6 that doesn't recognise overflow*/
}

.prot_sum .top-row .top-row-id {
    float: left;
    width: 260px;
}

.prot_sum .top-row .top-row-opt {
    float: right;
    border: 0px blue solid;
    margin-right: 164px;
    padding-top: 2px;
}

.prot_sum .top-row .top-row-opt .opt1 {
    height: 12px;
    width: 12px;
    background: url(../images/ico_newindow.png) no-repeat;
}

.prot_sum .bot-row {
    border: 0px solid green;
    overflow: auto;
    margin-top: 1px;
}

.prot_sum .bot-row .bot-row-line-top {
    margin: 0 164px 0 128px;
    border-bottom: 1px solid #d8d8d8;
}

.prot_sum .bot-row .bot-row-line-bot {
    margin: 0 164px 0 128px;
    border-top: 1px solid #d8d8d8;
}

.prot_sum .bot-row ol.signatures li {
    border: 0px solid purple;
    overflow: auto;
}

.prot_sum .bot-row ol.signatures li .bot-row-line {
    margin: 0 164px 0 128px;
    height: 17px;
    background-color: #efefef;
    display: block;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.prot_sum .bot-row ol.signatures li .bot-row-signame {
    float: right;
    width: 148px;
    background: url(../images/arrow_01.png) no-repeat 4px 4px;
    padding-left: 16px;
    border: 0px solid pink;
}

.prot_sum .bot-row ol.signatures li .bot-row-line .matches {
    position: relative;
}

.prot_sum .bot-row ol.signatures li .bot-row-line .matches .match {
    _font-size: 30%; /*IE6 bug - doesn't read height*/
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 5px;
    top: 0.4em;
    position: absolute;
    z-index: 1; /* Show above match line */
}

.prot_sum .bot-row ol.signatures li .bot-row-line .matches .match:hover {
    height: 0.7em; /* Enlarge slightly: */
    top: 0.3em;
    z-index: 5;
    box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
}

.prot_sum .bot-row ol.signatures li .bot-row-line .matches .grade {
    background: url(../images/bgd_dot.gif) repeat-y;
    width: 1px;
    height: 17px;
    position: absolute;
    z-index: 0;
}

.prot_scale {
}

.prot_scale .bot-row {
    border: 0px solid green;
    overflow: auto;
}

.prot_scale .bot-row .bot-row-line-top {
    margin: 0 164px 0 128px;
    border-bottom: 1px solid #d8d8d8;
}

.prot_scale .bot-row .bot-row-line {
    margin: 0 164px 0 128px;
    height: 18px;
    display: block;
}

.prot_scale .bot-row .bot-row-line .scale_bar {
    position: absolute;
    z-index: 1;
    background-color: #cecece;
    width: 1px;
    height: 4px;
}

.prot_scale .bot-row .bot-row-line .scale_numb {
    position: absolute;
    z-index: 2;
    margin-left: -10px;
    border: 0px solid green;
    color: #b8b8b8;
    font-size: 90%;
    margin-top: 4px;
}

.prot_go {
    margin: 12px 0;
    display: block;
    overflow: auto;
}

.prot_go .go_terms {
    overflow: auto;
    display: block;
    border: 0px black solid;
}

.prot_go .go_terms .go_terms_box {
    float: left;
    width: 30%;
    border: 0px red solid;
    margin: 0 6px;
}

.prot_go .go_terms .go_terms_box h2 {
    border: none;
    font-size: 100%;
    font-weight: bold;
    color: #525252;
}

/*END protein page*/

/* Tooltip overwrite jquery.qtip.css */
.ui-tooltip, .qtip {font-family: Verdana, Helvetica, sans-serif; font-size: 90%;  line-height: 120%; max-width: 400px; min-width: 200px; /* solve a  popup size bug for IE7 */}
.ui-tooltip-light .ui-tooltip-titlebar {background-color: #fff; border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;-webkit-border-radius: 6px 6px 0 0;}
.ui-tooltip-light .ui-tooltip-titlebar, .ui-tooltip-light .ui-tooltip-content {box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 4px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 4px 4px rgba(0, 0, 0, 0.1); border-color: #c0c0c0; color: #393939;}
.ui-tooltip-light .ui-tooltip-content {border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;-webkit-border-radius: 0 0 6px 6px;}
.ui-tooltip-content {padding: 0 6px 12px 6px;}
.ui-tooltip-shadow  {webkit-box-shadow: none;-moz-box-shadow: none;	box-shadow:none; }

.ui-tooltip-content ul li a.neutral, .ui-tooltip-content ul li a.neutral:link{text-decoration: none; color:#393939; /*font-weight:bold;*/}
.ui-tooltip-content  ul li a.neutral:hover,  .ui-tooltip-content ul li a.neutral:active, .ui-tooltip-content ul li a.neutral:focus {text-decoration: underline;}
.ui-tooltip-content  ul li a.neutral span {color: #0072FE;font-weight:normal;}

.ui-tooltip-content ul  ul li a.neutral, .ui-tooltip-content ul   ul li a.neutral:link{font-weight:normal;}
.ui-tooltip-content  ul   ul li a.neutral span {font-weight:normal;}

.ui-tooltip-content ul {margin:0; padding:0; list-style:none;}
.ui-tooltip-content ul li {list-style-type: none; padding-left: 26px; padding-bottom: 2px;/*add space to make the shadow of the tree icon appear correctly*/}
.ui-tooltip-content ul li {background: url(../images/ico_tree_d.png) no-repeat 0 0;} /*temp fix as Domain is added randomly to list element - code needs to be checked*/
.ui-tooltip-content ul li.Repeat {background: url(../images/ico_tree_repeat.png) no-repeat 0 0;}

.ui-tooltip .popup_topl {padding-bottom:4px; font-weight:bold;font-size:90%;}
.ui-tooltip .popup_topl .caption_puce {width:6px; height:6px; border:1px solid #393939; float:left; margin: 2px 4px 0 0;zoom:1; /* for IE7 and IE6 to visualise the span and background without content*/}
/* /Tooltip overwrite jquery.qtip.css */

.prot_tree ul li {
    list-style-type: none;
    padding-left: 26px;
    background: url(../images/ico_tree_family.png) no-repeat 0 0;
}

.prot_tree ul li ul li {
    margin-left: 14px;
    list-style-type: none;
    padding-left: 26px;
    background: url(../images/ico_tree_family.png) no-repeat 0 0;
    border: 0px solid red;
}

abbr {border-bottom: 1px dotted grey;cursor: help;}
.disabled {border:0px solid red; opacity:0.3; filter:alpha(opacity=30); /* For IE8 and earlier */}
