/**
 * Styling for protein.jsp
 *
 * @author  Antony Quinn
 * @version $Id$
 */

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

abbr {
    border-bottom: 1px dotted black;
    cursor: help;
}

.hierarch.ul {
    /* The tree icon is 12px wide. */
    padding-left: 14px;
    margin: 0;
}

.hierarch li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0em;
}

.hierarch ul li {
    list-style: url(../images/copiedFromInterPro/ico_tree.png);
    margin: 0;
    padding-left: 0.7em;
}

ol.entries, ol.signatures, ol.structural-features, ol.structural-predictions {
    margin: 0;
    padding: 0;
}

li.entry, li.signature, li.structural-feature, li.structural-prediction {
    list-style: none;
    padding-bottom: 6px; /* Ensures background colour includes lower half of match blobs */
}

li.entry {
    background-color: #E9E9E9;
    padding-bottom: 10px;
}

li.entry:hover, li.signature:hover, li.structural-feature:hover, li.structural-prediction:hover {
    background-color: #C9C9C9;
}

/* Line for entire length of protein sequence (for scale) */
div.scale {
    /*border:     0.1em solid black; *//* Line height and colour */
    position: relative;
    width: 92%;
    height: 1em;
    background-color: #eeeeee;
}

/* Individual scale marker point */
span.scale {
    border-left: 0.1em solid black;
    height: 100%;
    position: absolute;
    z-index: 0; /* Show above match line */
}

/* Line for entire length of protein sequence */
div.match {
    border: 0.1em solid black; /* Line height and colour */
    position: relative;
    width: 92%;
}

/* div for a supermatch, with 0.8em spacing between divs (padding-bottom) */
div.supermatchline {
    /*border:     0.1em solid black; *//* Line height and colour */
    border-style: none;
    position: relative;
    width: 92%;
    padding-bottom: 0.7em;
    display: inline-block;
}

span.supermatchType {
    font-size: 0.7em;
    vertical-align: top;
    padding-left: 8px;
}

/* Individual match */
span.match {
    border: 0.1em solid black; /* Round edges: */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 0.5em;
    position: absolute;
    top: -0.3em; /* Shows in middle of line (0.5 * match.height plus a bit of judgment by eye) */
    z-index: 1; /* Show above match line */
}

span.match:hover {
    /* Enlarge slightly: */
    height: 0.7em;
    top: -0.4em; /* Show overlaps */
    z-index: 5; /* Make it glow: */
    box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
}

/* Entry types colours */
span.Family {
    background-color: #ffffff;
}

/* Note: domain and repeat colours are set in either domain.css or database.css depending on user preference */

span.Active_site, span.Binding_site, span.Conserved_site, span.PTM {
    background-color: #000000;
}

span.uni {
    background-color: #a5a5a5;
}

/* Structures colours */
span.PDB {
    background-color: #82a4bf;
}

span.CATH {
    background-color: #b852d4;
}

span.SCOP {
    background-color: #cbcbcb;
}

span.SWISS-MODEL {
    background-color: #cf161d;
}

span.MODBASE {
    background-color: #ffac0b;
}

/* Match table - currently not shown */
/*table.match {*/
/*border-width:       1px;*/
/*border-style:       solid;*/
/*border-color:       gray;*/
/*border-collapse:    collapse;*/
/*display:            none;*/
/*}*/

/*table.match th {*/
/*background-color:   silver;*/
/*border-width:       1px;*/
/*padding:            2px;*/
/*border-style:       solid;*/
/*border-color:       gray;*/
/*}*/

/*table.match td {*/
/*border-width:       1px;*/
/*padding:            2px;*/
/*border-style:       solid;*/
/*border-color:       gray;*/
/*}*/

/*table.match tr.entry {*/
/*background-color:   #dcdcdc;*/
/*}*/

/*TODO - __COPIED__ from interpro.css line 879.  Need to work out a better way of maintaining this css. */

.menu-filter {
    width: 154px;
    clear: left;
    float: left;
    display: block;
    border: 1px solid #d3d3d3;
    margin-top: 40px;
    padding: 6px 10px;
    -moz-border-radius: 0 10px 0 10px;
    -khtml-border-radius: 0 10px 0 10px;
    -webkit-border-radius: 0 10px 0 10px;
    border-radius: 0 10px 0 10px;
    font-size: 110%;
    background-color: #efefef;
}

.menu-filter H1 {
    color: #434343;
    font-size: 120%;
    font-weight: bold;
}

.menu-filter fieldset {
    padding-top: 12px;
}

.menu-filter fieldset label.view_all {
    padding-left: 19px;
    padding-top: 5px;
    background: url(../images/copiedFromInterPro/ico_type_all.png) no-repeat 0 2px;
    font-weight: bold;
}

.menu-filter div {
    margin-bottom: 10px;
}

.menu-filter div H1 {
    color: #2e5882;
    font-size: 110%;
    font-weight: bold;
    background-color: #f2f6f8;
    border: 1px solid #9eb6ce;
    padding: 4px 10px;
}

.menu-filter div H1, .menu-filter .menu-filter-type fieldset, .menu-filter .menu-filter-status fieldset, .menu-filter .menu-filter-colour fieldset {
    box-shadow: 0px 2px 2px #adadad;
    -moz-box-shadow: 0px 2px 2px #adadad;
    -khtml-box-shadow: 0px 2px 2px #adadad;
    -webkit-box-shadow: 0px 2px 2px #adadad;
}

.menu-filter div fieldset {
    border: 1px solid #d1d1d1;
    margin: 0;
}

.menu-filter .menu-filter-type div, .menu-filter .menu-filter-status div, .menu-filter .menu-filter-colour div {
    display: block;
}

.menu-filter .menu-filter-type fieldset, .menu-filter .menu-filter-status fieldset, .menu-filter .menu-filter-colour fieldset {
    background-color: #fff;
    padding-top: 6px;
    border-top: 0;
    -moz-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.menu-filter .menu-filter-type label, .menu-filter .menu-filter-status label {
    border: 0px green solid;
    padding-left: 19px;
    padding-top: 5px;
}

.menu-filter .menu-filter-type label.family {
    background: url(../images/copiedFromInterPro/ico_type_family.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-type label.domains {
    background: url(../images/copiedFromInterPro/ico_type_domain.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-type label.repeats {
    background: url(../images/copiedFromInterPro/ico_type_repeat.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-type label.site {
    background: url(../images/copiedFromInterPro/ico_type_site.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-status label.uni {
    background: url(../images/copiedFromInterPro/ico_type_uni.png) no-repeat 0 2px;
}

.menu-filter .menu-filter-colour {
    font-size: 90%;
}

.menu-filter .menu-filter-colour legend {
    font-size: 100%;
    font-weight: bold;
}

.menu-filter .menu-filter-colour fieldset {
    border-top: 1px solid #d1d1d1;
}

div#content {
    width: 1000px;
}

div#left-menu {
    width: 170px;
    float: left;
}

div#tracks {
    width: 800px;
    float: right;
}
