<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


    <!-- JPA Configuration -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="testPersistence"/>
    </bean>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!-- JPA Transaction Setup -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="validateExistingTransaction" value="true"/>
        <property name="globalRollbackOnParticipationFailure" value="true"/>
        <property name="nestedTransactionAllowed" value="true"/>

    </bean>

    <tx:annotation-driven/>

    <!-- DAO Beans -->
    <bean id="genericDAO"
          class="uk.ac.ebi.interpro.scan.genericjpadao.ModelObjectDAOImpl"/>

</beans>
